{#
/**
 * @file
 * Default theme implementation for main view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A css-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   Javascript.
 *
 * @see template_preprocess_views_view()
 *
 * @ingroup themeable
 */
#}
{%
    set classes = [
        dom_id ? 'js-view-dom-id-' ~ dom_id,
    ]
%}
{{ attach_library('newhomes/ihover') }}
<div{{ attributes.addClass(classes) }}>
    {{ title_prefix }}
    {{ title_suffix }}

    <div class="container">
        <div class="block_heaeder">
            <h2 class="block-title">{{ 'Các dự án nổi bật' | t }}</h2>
            <a href="{{ url('<front>') }}/du-an" class="see-more">{{ 'Xem tất cả' | t }} <i class="fas fa-arrow-right"></i></a>
        </div>
        <div class="swiper-container project">
            <div class="swiper-wrapper">
                {% for item in items %}
                <div class="swiper-slide">
                    <div class="ih-item square effect6 from_top_and_bottom">
                        <a href="{{ item.link }}">
                            <div class="img"><img src="{{ item.uri | image_style('images_842_x_541') }}" alt="{{ item.alt }}"></div>
                            <div class="info">
                                <h3 class="node_title">{{ item.title }}</h3>
                                <p><button class="btn btn-outline-info">{{ 'Chi tiết' | t }}</button></p>
                            </div>
                        </a>
                    </div>
                </div>
                {% endfor %}
                
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
        </div>
    </div>

</div>