<div class="lastest_news_block container">
    <div class="row">
      {% set view_result = view.result %}

      {% if view_result != null %}
        {% set view_1 = entity_trans(view_result[0]._entity) %}
        {% set view_2 = [] %}
        {% set l = view_result|length %}
        {% for item in view_result %}
          {% if loop.index != 1 %}
            {% set view_2 = view_2|merge([item]) %}
          {% endif %}
        {% endfor %}
        
        <div class="block-right col-lg-4">
          {% set img = view_1.get('field_ht_image').getValue()[0] %}
          {% set title = view_1.getTitle() %}
          {% set created = view_1.getCreatedTime() %}
          {% set summary = view_1.get('body').getValue()[0]['summary'] %}
          {% set link = get_alias_from_nid(view_1.id()) %}

          <div class="img_wrapper">
            <a href="{{ link }}">
              <img src="{{ url_img(img.target_id, '418x319') }}" alt="{{ img.alt }}" width="418" height="319">
            </a>
          </div>
          <div class="info-wrapper">
            <h4 class="title"><a href="{{ link }}">{{ title }}</a></h4>
            <p class="created_time ht_reset_margin">
              <svg class="bi bi-clock" width="1em" height="1em" viewBox="0 0 16 16" fill="dark" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm8-7A8 8 0 1 1 0 8a8 8 0 0 1 16 0z"></path>
                <path fill-rule="evenodd" d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5z"></path>
              </svg>
              {{ created|date("d/m/Y") }}
            </p>
            <div class="summary">{{ summary }}</div>
            <a href="{{ link }}" class="view_detail">{{ 'Xem thêm'|t }}</a>
          </div>
        </div>

        {% if view_2 != null %}
          <div class="block-left col-lg-8">
            {% for item in view_2 %}
              {% set i = entity_trans(item._entity) %}
              {% set img = i.get('field_ht_image').getValue()[0] %}
              {% set title = i.getTitle() %}
              {% set created = i.getCreatedTime() %}
              {% set summary = i.get('body').getValue()[0]['summary'] %}
              {% set link = get_alias_from_nid(i.id()) %}
              <div class="sm-news-wrapper row">
                <div class="col-md-4 img_wrapper">
                  <img src="{{ url_img(img.target_id, '294x187') }}" alt="{{ img.alt }}">
                </div>
                <div class="col-md-8 info_wrapper">
                  <h4 class="title"><a href="{{ link }}">{{ title }}</a></h4>
                  <p class="created_time ht_reset_margin">
                    <svg class="bi bi-clock" width="1em" height="1em" viewBox="0 0 16 16" fill="dark" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm8-7A8 8 0 1 1 0 8a8 8 0 0 1 16 0z"></path>
                      <path fill-rule="evenodd" d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5z"></path>
                    </svg>
                    {{ created|date("d/m/Y") }}
                  </p>
                  <div class="summary">{{ summary }}</div>
                  <a href="{{ link }}" class="view_detail">{{ 'Xem thêm'|t }}</a>
                </div>
              </div>
            {% endfor %}
          </div>
        {% endif %}
      {% endif %}
    </div>
  </div>